<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/producto.css">
  <title>Zapatilla Nike Air</title>
</head>
<body>
  <div class="container">
    <div class="producto">
      <img src="/img/<%= products.image %>" alt="Zapatilla Nike Air" class="producto-imagen">
      <div class="producto-info">
        <h1><%= products.name%></h1>
        <p><%= products.description%></p>
        <p class="precio">$<%= products.price%></p>
        <a href="/carrito?producto=Zapatilla%20Nike%20Air&precio=129.99" class="comprar-button">Comprar</a>
        <a href="/" class="volver-button">Volver</a>
      </div>
    </div>
  </div>
</body>
</html>
