<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creación y Edición de Productos</title>
  <link rel="stylesheet" href="/css/vender.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Creación de Productos</h1>
  
  <form id="product-form"   action="/products/vender" method="POST" enctype="multipart/form-data">
    <label for="name">Nombre del producto:</label>
    <input type="text" id="name" name="name" required placeholder="Ej:Zapatilla nike">
    
    <label for="description">Descripción:</label>
    <textarea id="description" name="description" required placeholder="Descripcion del producto"></textarea>
    
    <label for="image">Imagen:</label>
    <input type="file" id="image" name="image" >
    
     <label for="category">Categoría:</label>
     <input type="text" id="category" name="category" placeholder="Ej:Trekking">  
    
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" step="0.01" required placeholder="Ej:5000">

    <label for="colors">Descuento:</label>
    <input type="text" id="colors" name="discount" placeholder="Codigo Descuento">
    
    <button type="submit">Guardar</button>
    <button class="return"><a href="/">volver</a></button>
  </form>

</body>

</html>
