<footer class="footer">
    <div class="contenedor">
      <div class="footer-contenido">
        <div class="logo-footer">
          <img src="/img/concepto-logotipo-alta-calidad-presenta-zapatilla-hecha-segmentos-vibrantes-aspecto-fresco-moderno-dibujado-mano-vintage_668007-95.avif" alt="Logo de la tienda">
        </div>
        <div class="contacto-info">
          <h3 class="c">Contacto</h3>
          <p>Email: info@zapatillas.com</p>
          <p>Teléfono: +123456789</p>
        </div>
        <div class="social">
          <h3 class="c">Síguenos en redes</h3>
          <ul>
            <li><a href="#"><img src="/img/Facebook_f_logo_(2019).svg.webp" alt="Facebook"></a></li>
            <li><a href="#"><img src="/img/Instagram_logo_2016.svg.webp" alt="Instagram"></a></li>
            <li><a href="#"><img src="/img/Logo_of_Twitter.svg.png" alt="Twitter"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>