<header>
    <div class="logo-buscador">
        <div class="Logo">
            <img src="/img/concepto-logotipo-alta-calidad-presenta-zapatilla-hecha-segmentos-vibrantes-aspecto-fresco-moderno-dibujado-mano-vintage_668007-95.avif" alt="Logo">
        </div>
        <div class="buscador">
            <input type="text" placeholder="Buscar productos, marcas">
            <button class="lupa"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <nav class="main-menu">
        <ul>
            <li class="ocultar"><a href="#">Ofertas</a></li>
            <li><a href="/vender"><div>Vender</div></a></li>  
            <li class="ocultar"><a href="/hamburguesa">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/a"><div>Ingresa</div><i class="fas fa-angle-right"></i></a></li>
            <li><a href="/formulario">Crea tu cuenta <div><i class="fas fa-user"></i></div></a></li>
            <li><a href="/carrito"><div>Mis compras</div><div><i class="fas fa-shopping-cart"></i></div></a></li>    
            
        </ul>
    </nav>
   <a href="/hamburguesa"><div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div></a> 
</header>