<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img class="slide-1" src="/img/1604147552_366038_1604147771_sumario_normal.jpg" alt="Imagen 1">
            <img class="slide-2" src="/img/descarga.jpg" alt="Imagen 2">
            <img class="slide-3" src="/img/D_NQ_NP_773314-MLA54889526534_042023-O.webp" alt="Imagen 3">
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>
    </div>
</section>