<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/hamburguesa.css">
  <title>Ayuda al Cliente</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Ayuda al Cliente</h1>
   <!--  <nav>
      <ul>
        <li><a href="#configuracion">Configuración</a></li>
        <li><a href="#cuenta">Cuenta</a></li>
      </ul>
    </nav> -->
  </header>

  <section id="configuracion" class="section">
    <h2>Configuración</h2>
    <p>En esta sección, encontrarás información sobre cómo configurar tu cuenta y ajustar tus preferencias.</p>
  </section>

  <section id="cuenta" class="section">
    <h2>Cuenta</h2>
    <p>Descubre cómo gestionar tu cuenta, cambiar tu contraseña y mantener tus datos seguros.</p>
  </section>
  <a href="/usuariosCuentas">Cuentas</a>
  <a href="/" class="volver-button">Volver</a>

  <footer>
    <p>&copy; 2023 Ayuda al Cliente</p>
  </footer>
</body>
</html>
