<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">  
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Sprint-E-commerce</title>
</head>
<body>
    <header>
        <div class="logo-buscador">
            <div class="Logo">
                <img src="/img/concepto-logotipo-alta-calidad-presenta-zapatilla-hecha-segmentos-vibrantes-aspecto-fresco-moderno-dibujado-mano-vintage_668007-95.avif" alt="Logo">
            </div>
            <div class="buscador">
                <input type="text" placeholder="Buscar productos, marcas">
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>
        <nav class="main-menu">
            <ul>
                <li class="ocultar"><a href="#">Ofertas</a></li>
                <li class="ocultar"><a href="#">Vender</a></li>
                <li class="ocultar"><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#"><div>Ingresa</div><i class="fas fa-angle-right"></i></a></li>
                <li><a href="#">Crea tu cuenta <div><i class="fas fa-user"></i></div></a></li>
                <li><a href="#"><div>Mis compras</div><div><i class="fas fa-shopping-cart"></i></div></a></li>    
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img class="slide-1" src="/img/1604147552_366038_1604147771_sumario_normal.jpg" alt="Imagen 1">
                <img class="slide-2" src="/img/descarga.jpg" alt="Imagen 2">
                <img class="slide-3" src="/img/D_NQ_NP_773314-MLA54889526534_042023-O.webp" alt="Imagen 3">
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </section>

    <div class="Productos">
        <section class="articulos-container">
            <div class="articulo">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zapatill">
                </figure>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% OFF</div>
                    </div>
                    <h3>Macbook Pro 2019</h3>
                </div>
            </div>
            <div class="articulo">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zapatill">
                </figure>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% OFF</div>
                    </div>
                    <h3>Macbook Pro 2019</h3>
                </div>
            </div>
        
            <div class="articulo">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zpatilla-de-cuero">
                </figure>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% OFF</div>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </div>
        
            <div class="articulo">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de zapa">
                </figure>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% OFF</div>
                    </div>
                    <h3>SmartTV Samsung 43</h3>
                </div>
            </div>
            </div>

    <footer>    
        <div class="elementos-footer">
            <section>
                <div class="icono"><i class="fas fa-credit-card"></i></div>
                <h4>Paga con tarjeta o efectivo</h4>
                <p>Con Mercado Libre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <div class="icono"><i class="fas fa-gift"></i></div>
                <h4>Envío gratis desde $2500</h4>
                <p>Solo por estar registrado en Mercado Libre tienes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <div class="icono"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devuélvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </section>
        </div>
        <section class="copy">
            <h4>Copyright © 1999-2020 Mercado Libre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>
