<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">  
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Sprint-E-commerce</title>
</head>
<body>
    <header>
        <div class="logo-buscador">
            <div class="Logo">
                <img src="/img/concepto-logotipo-alta-calidad-presenta-zapatilla-hecha-segmentos-vibrantes-aspecto-fresco-moderno-dibujado-mano-vintage_668007-95.avif" alt="Logo">
            </div>
            <div class="buscador">
                <input type="text" placeholder="Buscar productos, marcas">
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>
        <nav class="main-menu">
            <ul>
                <li class="ocultar"><a href="#">Ofertas</a></li>
                <li class="ocultar"><a href="#">Vender</a></li>
                <li class="ocultar"><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/a"><div>Ingresa</div><i class="fas fa-angle-right"></i></a></li>
                <li><a href="/formulario">Crea tu cuenta <div><i class="fas fa-user"></i></div></a></li>
                <li><a href="/carrito"><div>Mis compras</div><div><i class="fas fa-shopping-cart"></i></div></a></li>    
            </ul>
        </nav>
       <a href="/hamburguesa"><div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div></a> 
    </header>

    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img class="slide-1" src="/img/1604147552_366038_1604147771_sumario_normal.jpg" alt="Imagen 1">
                <img class="slide-2" src="/img/descarga.jpg" alt="Imagen 2">
                <img class="slide-3" src="/img/D_NQ_NP_773314-MLA54889526534_042023-O.webp" alt="Imagen 3">
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </section>


    <h1 class="O">OFERTAS</h1>
    <div class="Productos">

        <section class="articulos-container">
            <div class="articulo">
                <a href="/producto1">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zapatill">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% OFF</div>
                    </div>
                    <h3>Zapatilla</h3>
                </div>
                
            </div>
            <div class="articulo">
                <a href="/producto1">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zapatill">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% OFF</div>
                    </div>
                    <h3>Zapatilla-2</h3>
                </div>
            </div>
        
            <div class="articulo">
                <a href="/producto1">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zpatilla-de-cuero">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% OFF</div>
                    </div>
                    <h3>Zapatilla-3</h3>
                </div>
            </div>
        
            <div class="articulo">
                <a href="/producto1">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de zapa">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% OFF</div>
                    </div>
                    <h3>Zapatilla-4</h3>
                </div>
            </div>
            </div>
    <h1 class="O">PRODUCTOS</h1>
    <div class="Productos">

        <section class="articulos-container">
            <div class="articulo">
                <a href="/producto1">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zapatill">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% OFF</div>
                    </div>
                    <h3>Zapatilla-5</h3>
                </div>
            </div>
            <div class="articulo">
                <a href="/producto1">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zapatill">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% OFF</div>
                    </div>
                    <h3>Zapatilla-6</h3>
                </div>
            </div>
        
            <div class="articulo">
                <a href="/producto1">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de Zpatilla-de-cuero">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% OFF</div>
                    </div>
                    <h3>Zapatilla-7</h3>
                </div>
            </div>
        
            <div class="articulo">
                <a href="/producto1">
                <figure>
                    <img src="/img/zapatilla-de-miles.jpg" alt="Imagen de zapa">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% OFF</div>
                    </div>
                    <h3>Zapatilla-8</h3>
                </div>
            </div>
            </div>

            <footer class="footer">
                <div class="contenedor">
                  <div class="footer-contenido">
                    <div class="logo-footer">
                      <img src="/img/concepto-logotipo-alta-calidad-presenta-zapatilla-hecha-segmentos-vibrantes-aspecto-fresco-moderno-dibujado-mano-vintage_668007-95.avif" alt="Logo de la tienda">
                    </div>
                    <div class="contacto-info">
                      <h3 class="c">Contacto</h3>
                      <p>Email: info@zapatillas.com</p>
                      <p>Teléfono: +123456789</p>
                    </div>
                    <div class="social">
                      <h3 class="c">Síguenos en redes</h3>
                      <ul>
                        <li><a href="#"><img src="/img/Facebook_f_logo_(2019).svg.webp" alt="Facebook"></a></li>
                        <li><a href="#"><img src="/img/Instagram_logo_2016.svg.webp" alt="Instagram"></a></li>
                        <li><a href="#"><img src="/img/Logo_of_Twitter.svg.png" alt="Twitter"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </footer>
              
</body>
</html>
