<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">  
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        
        
        <title>Sprint-E-comerce</title>
    </head>



    <body>
        <header>
         
        
            <div class="logo-buscador">
            <div class="Logo" ><img src="" alt="Logo "></div>
            
                <div class="buscador">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button><div><i class="fas fa-search"></i></div></button>
                </div>
            </div>
            

            <div class="main-menu">
            <ul >
                
                <li ><a href="">Ofertas</a></li>
                <li ><a href="">Vender</a></li>
                <li ><a href="">Ayuda</a></li>
            
            </ul>
            <ul >
                
                <li ><a href="">Crea tu cuenta <div><i class="far fa-user"></i></div></a></li>
                <li ><a href=""><div>Ingresa</div> <i class="fas fa-angle-right"></i></a></li>
                <li > <a href=""><div>Mis compras </div><div><i class="fas fa-shopping-cart"></i></div> </a> </li>     
            </ul>
        </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>







        <section></section>






        <footer></footer>



    </body>




    
</html>
