
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/usuarios.css">
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul>
        <% usuarios.forEach((usuario) => { %>
            <li>
                <strong>Nombre:</strong> <%= usuario.firstName %> <%= usuario.lastName %><br>
                <strong>Correo Electrónico:</strong> <%= usuario.email %><br>
                <!-- Otras propiedades del usuario que quieras mostrar -->
            </li>
        <% }); %>
    </ul>
    <a href="/">Volver</a>
</body>
</html>
