<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesi칩n</title>
    <link rel="stylesheet" href="/css/a.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="formulario-contenedor">
        <h2>Iniciar sesi칩n</h2>
        <form action="/usuario"> 
            <label for="nombreUsuario">Nombre de usuari@:</label>
            <input type="text" id="nombreUsuario" placeholder="ej: Lucas" required>

            <label for="contrasena">Contrase침a:</label>
            <input type="password" id="contrasena" placeholder="Contrase침a" required>

            <button type="submit" onclick="enviarFormulario()">Enviar</button>
        </form>

        <footer>
            <a href="/"><button>Volver</button></a>
        </footer>
    </div>

    <script>
        function enviarFormulario() {
            window.location.href = "/";
        }
    </script>
</body>
</html>
