body{
    background-image: url('/img/istockphoto-1294603953-612x612.jpg');
    background-size: cover; 
    background-position: center;
    
}
.container{
    color: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
  }
  .productos-en-carrito {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  } 
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }  
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  .volver-button {
    display: block;
    margin: auto;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 11px 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 450ms;
    width: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
  }
  .volver-button:hover {
    background-color: #3a0eb4;
    color: white;
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    li {
      font-size: 16px;
    }
  }
  
  