body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/img/istockphoto-1294603953-612x612.jpg');
  background-size: cover; 
  background-position: center;
  }
  
  header {
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .section {
    padding: 40px;
    color: white;
  }
  
  h2 {
    color: white;
    border-radius: 15px;
    border: none 1px white;
    background-color: #e74c3c;
  }
  
  footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
  }

  .volver-button{
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ;
    margin-bottom: 40px;
  }
  
  .volver-button:hover {
    background-color: #c02d1c;
  }
 
  
  /* media queries mobile */

  @media (max-width: 620px){
    h2{
      text-align: center;
    }
    a{
      margin-left: 40vw;
    }
    p{
      text-align: center;
    }
  }



  /* media queries tablet */


  @media (min-width: 621px) and (max-width: 886px){
    h1{
      text-align: center;
    }
    h2{
      text-align: center;
      width: 50vw;
      margin-left: 22%;
    }
    p{
      text-align: center;
    }
    a{
      margin-left: 43vw;
    }
  }

   /* media queries desktop */


  @media (min-width: 887px){
    h1{
      text-align: center;
    }
    h2{
      text-align: center;
      height: 35px;
      width: 35vw;
      margin-left: 31%;
    }
    p{
      text-align: center;
      font-size: 25px;
    }
    a{
      margin-left: 46.6vw;
      font-size: larger;
    }
  }