header{
    background-color: grey;
    
   
}
.main-menu{
    text-decoration: none;
    color: black;
    
}
.main-menu li{
    list-style: none;
}

.main-menu ul{

.main-menu li {
    list-style: none;
    margin-right: 15px; 
}
}
a {
    text-decoration: none;
    color: inherit;
}
@media(max-width:470px){
    .main-menu{
        display: none;
    }
    .logo-buscador{
        display: flex;
        justify-content: space-between
    }
    
    .burger-menu {
        background-color: #03264c; 
        color: #ffff; 
        display: block;
         max-width: 50px;
          padding: 15px 0; 
          border-radius: 8px; 
          text-align: center; 
          font-size: 18px; 
          margin: auto;
        }

}

@media(min-width:471px){
  
  
    
        header{
            background-color: grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
           
        }
        .main-menu{
            text-decoration: none;
            color: black;
            display: flex;
            justify-content: space-between;
        }
        .main-menu li{
            list-style: none;
        }
        
        .main-menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .main-menu li {
            list-style: none;
            margin-right: 15px; 
    }
    .burger-menu{
        display: none;
    }
}

@media(min-width:720px){
  
    
    header{
        background-color: grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
       
    }
    .main-menu{
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: space-between;
    }
    .main-menu li{
        list-style: none;
    }
    
    .main-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .main-menu li {
        list-style: none;
        margin-right: 15px; 
}
.burger-menu{
    display: none;
}
}